{
    "plugins": [
        "react",
        "no-unsafe-innerhtml",
        "promise"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "globalReturn": false
        },
        "babelOptions": {
            "configFile": "./.babelrc"
        }
    },
    "env": {
        "browser": true,
        "es2021": true
    },
    "settings": {
        "react": {
            "version": "17.0.2"
        }
    },
    "rules": {
        "indent": [
            "error",
            2,
            {
                "CallExpression": {
                    "arguments": 1
                }
            }
        ],
        "max-len": "off",
        "no-unsafe-innerhtml/no-unsafe-innerhtml": 2,
        "no-unused-vars": [
            "warn",
            {
                "ignoreRestSiblings": false
            }
        ],
        "react/prop-types": "off",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "react/jsx-equals-spacing": [
            2,
            "never"
        ],
        "react/jsx-pascal-case": [
            2,
            {
                "allowAllCaps": true,
                "ignore": []
            }
        ],
        "react/require-render-return": 2,
        "space-before-function-paren": "off"
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "react-app",
        "prettier"
    ]
}