@import '../../App';

$shadow: .3rem .3rem .6rem $greyLight-2,
  -.2rem -.2rem .5rem $white;
$inner-shadow: inset .2rem .2rem .5rem $greyLight-2,
  inset -.2rem -.2rem .5rem $white;

.icon {

  &-blog,
  &-other {
    width: 100px;
    height: 2.5rem;
    border-radius: 20px;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: $greyDark;
    transition: all .9s ease;
  }

}

.icon-blog>img {
  width: 100%;
  height: 100%;
  margin: 5px;
}

.icon-blog:hover {
  box-shadow: $inner-shadow;
  background-color: $white;
}