@import '../App/App.scss';

.btn-container {
  a {
    text-decoration: none;
  }
}

.btn {
  background-color: transparent;
  outline: none;
  color: var(--text);
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 4px 20px;
  width: 100%;
  will-change: transform;

  &::before {
    border-radius: 8px;
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    bottom: -6px;
    left: 0;
    z-index: -1;
  }
  &::after {
    content: '';
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
/*.btn:focus,*/
.btn:hover {
  transform: translateY(2px);
}

/*.btn:focus:before,*/
.btn:hover:before {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(8px);
  transition: none;
}
.btn:active:before {
  transform: translateY(-8px);
  transition: none;
}

.btn {
  &::before {
    background-color: var(--button--before);
  }
  &::after {
    background-color: var(--button--after);
  }
}
