@import '../../App';

$shadow: 0.3rem 0.3rem 0.6rem $greyLight-2, -0.2rem -0.2rem 0.5rem $white;
$inner-shadow: inset 0.2rem 0.2rem 0.5rem $greyLight-2,
  inset -0.2rem -0.2rem 0.5rem $white;

.icon {
  a {
    text-decoration: none;
    color: $black;
  }

  &-blog,
  &-other {
    width: 80px;
    height: 2.5rem;
    border-radius: 20px;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $greyDark;
    transition: all 0.9s ease;
    font-weight: 400;
  }
}

.icon-blog > img {
  width: 100%;
  height: 100%;
  margin: 5px;
}

.icon-blog:hover {
  box-shadow: $inner-shadow;
  background-color: $white;
}
