.hero-container {
  height: 850px;
  width: 100%;
}

.forground-text {
  position: absolute;
  top: 80px;
  margin: 2% 0 0 7%;
}

.forground-text > h1 {
  color: rgb(0 0 0 / 20%);
  font-size: 100px;
  text-align: left;
  animation: h1 2s ease-out;
}

@keyframes h1 {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 960px) {
  .forground-text > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 786px) {
  .forground-text > h1 {
  }
}
