@import '../App/App.scss';

.hero-container {
  width: 100%;
}

.forground-text {
  position: absolute;
  top: 50px;
  right: 60px;
  margin: 2% 0 0 7%;
  z-index: 1;
}

.forground-text > h1 {
  color: rgba(104, 104, 104, 0.75);
  font-size: 100px;
  text-align: left;
  animation: h1 3s ease-out;
}

@keyframes h1 {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media screen and (max-width: $breakpoint--tablet) {
  .forground-text {
    right: auto;
  }

  .forground-text > h1 {
    font-size: 60px;
  }
}
