@import '../../App/App.scss';

#about {
  background-color: var(--bg);
  padding: $outerPadding;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
}

.intro-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}

.key-info {
  display: grid;
  padding: 0px;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.key-info > ul {
  display: contents;
  list-style-type: none;
}

.intro {
  width: 80%;
  margin-bottom: 60px;
}

.skills {
  display: grid;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
}

@media screen and (max-width: $breakpoint--mob) {
  .intro-container {
    flex-direction: column;
  }

  .intro {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: $breakpoint--tablet) {
  .key-info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, max-content);
  }
}
