@import '../../../App.scss';

.about {
  background-color: var(--bg);
  padding: $outerPadding;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.picture-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-pic > img {
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
}

.key-info {
  display: grid;
  padding: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.key-info > ul {
  display: contents;
}

.intro {
  width: 70%;
  margin-left: 30px;
}

@media screen and (max-width: $breakpoint--mob) {
  .picture-intro {
    flex-direction: column;
  }

  .profile-pic > img {
    max-width: max-content;
    margin-bottom: 20px;
  }

  .intro {
    width: 100%;
    margin-left: 0px;
  }

  .key-info {
    display: block;
  }
}
