@import '../../../App.scss';

.contact {
display: grid;
    justify-content: center;
    height: 100%;
    background: #f2695c;
}

.container {
  z-index: 1;
  background: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
        border: 0px solid;
    border-radius: 10px;
    margin-bottom: 50px;
      padding: 20px 40px;
}

.headings {
  padding: 1rem;
}

form {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

form .row {
  position: relative;
  height:inherit;
}

form .contactColumn {
  height: 300px;
  padding: 1rem;
    display: flex;
    flex-direction: column;
}

form .contactColumn.no1 {
width: 40%;
}

form .contactColumn.no2 {
  width: 60%;
}

form input,
form .contactColumn.no2 .row textarea {
  padding: 5px 0;
  width: 100%;
  color: $text;
  font-weight: 500;
  border: none;
  outline: none;

}

form input,
form .contactColumn.no2 .textAreaRow {
    border-bottom: 1px solid grey;
}

.textAreaRow {
      margin-bottom: 35px;
}

form .contactColumn.no2 .row textarea {
  resize: none;
      height: 100%;
}

form span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  transition: 0.3s;
}

form input:focus ~ span,
form input:valid ~ span,
form .contactColumn.no2 .row textarea:focus ~ span,
form .contactColumn.no2 .row textarea:valid ~ span {
  transform: translateY(-25px);
  color: grey;
}

form input[type="submit"] {
  position: relative;
  cursor: pointer;
  border: none;
  padding: 12px;
      border: 0px solid;
    border-radius: 10px;
}

form input[type="submit"] {
  -webkit-transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
  transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
}
form input[type="submit"]:hover {
  box-shadow: 0 0 40px 40px grey inset;
}

@media only screen and (max-width: $breakpoint--mob) {
  form {
    flex-direction: column;
  }
  form .contactColumn.no1 {
width: 100%;
}

form .contactColumn.no2 {
  width: 100%;
}

.container {
  padding: 20px 20px;
      width: 90%;
}

.contactColumn {
    padding: 0px 10px 0px 10px;
}
}
