@import '../../App';

.toggle-switch {
    position: relative;
    width: 75px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 3em;

    &-checkbox {
        display: none;
    }

    &-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 3px 4px 10px 2px #c7c7c7;

    }

    &-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;

        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: 34px;
            padding: 0;
            line-height: 36px;
            font-size: 23px;
            font-weight: bold;
            box-sizing: border-box;
            font-family: $toggle--font;
        }

        &:before {
            content: "Light";
            padding-left: 8px;
            background-color: $dark--toggle--bg;
            color: $dark--toggle--text;
        }
    }

    &-disabled {
        background-color: #ddd;
        cursor: not-allowed;

        &:before {
            background-color: #ddd;
            cursor: not-allowed;
        }
    }

    &-inner:after {
        content: "Dark";
        padding-right: 10px;
        background-color: $toggle--bg;
        color: $toggle--text;
        text-align: right;
    }

    &-switch {
        display: block;
        width: 24px;
        margin: 5px;
        box-shadow: inset 0 0 20px 0 #262626;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 40px;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }

    &-checkbox:checked+&-label {
        .toggle-switch-inner {
            margin-left: 0;
        }

        .toggle-switch-switch {
            right: 0px;
        }
    }
}