@import '../../App';

$shadow: .3rem .3rem .6rem $greyLight-2,
  -.2rem -.2rem .5rem $white;
$inner-shadow: inset .2rem .2rem .5rem $greyLight-2,
  inset -.2rem -.2rem .5rem $white;

.icon {

  &-theme,
  &-other,
  &-other {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $greyDark;
    transition: all .5s ease;
  }

}

.icon-theme>img {
  width: 100%;
  height: 100%;
  margin: 5px;
}

.check:checked+.icon-theme,
.icon-theme:hover {
  box-shadow: $inner-shadow;
  background-color: $white;
}

.check {
  display: none;
}