$bg: #fff;
$text: #000;
$toggle--bg: #fff;
$toggle--text: #5a5454;
$dark--bg: #0e0f12;
$dark-text: #fff;
$dark--toggle--bg: #808080;
$dark--toggle--text: #313131;
$toggle--font:'Dongle',
sans-serif;
$title--font: 'Atkinson Hyperlegible',
sans-serif;
$h1--font--weight: 600;
$body--font: 'IBM Plex Sans KR',
sans-serif;
$body--font--weight: 500;
$title--size: 70px;

$breakpoint--mob: 480px;
$breakpoint--tablet: 960px;
$breakpoint--screen: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $body--font;
  font-weight: $body--font--weight
}

body {
  background-color: $bg;
}

h1 {
  color: $text;
  letter-spacing: 1px;
  font-family: $title--font;
  font-size: $title--size;
  font-weight: $h1--font--weight;
  text-align: center;
}

h2 {
  color: $text;
}

p {
  color: $text;
}